{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  {% polymer import "mm-pager/mm-pager.html" %}

  <mm-pager items="{{ items |json_encode| e('html_attr') }}">
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <mm-pager-item url="{{ items.first.href }}" text="{{ items.first.text|default('« First'|t)|e('html_attr') }}"></mm-pager-item>
      {% endif %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <mm-pager-item url="{{ items.previous.href }}" text="{{ items.previous.text|default('‹ Previous'|t)|e('html_attr') }}"></mm-pager-item>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager-ellipsis">&hellip;</li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% if current == key %}
          {% set title = 'Current page'|t %}
        {% else %}
          {% set title = 'Go to page @key'|t({'@key': key}) %}
        {% endif %}
        <mm-pager-item url="{{ item.href }}"
                    title="{{ title }}"
                    {% if current == key %}
                    is-current="true"
                    {% endif %}
                    text="{{- key|e('html_attr') -}}"></mm-pager-item>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager-ellipsis">&hellip;</li>
        <mm-papger-item ellipsis></mm-papger-item>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <mm-pager-item url="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" text="{{ items.next.text|default('Next ›'|t)|e('html_attr') }}"></mm-pager-item>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <mm-pager-item url="{{ items.last.href }}" title="{{ 'Go to last page'|t }}" text="{{ items.last.text|default('Last »'|t)|e('html_attr') }}"></mm-pager-item>
      {% endif %}
  </mm-pager>
{% endif %}
